<%- include('partials/header'); %>
<div class="container-content">
  <div class="title">
    <h1>Your to do list!</h1>
  </div>
  <% if (todoList.length === 0) { %>
  <h3>Please <a href="create">create</a> a to do.</h3>

  <% } else { %> <% todoList.map(todo => { %>
  <p><%= todo.todo %></p>
  <form action="/api/delete" method="POST" style="display: inline">
    <input type="hidden" name="id" value="<%= todo.id %>" />
    <button type="submit">Delete</button>
  </form>

  <form action="/api/edit" method="POST" style="display: inline">
    <input type="hidden" name="id" value="<%= todo.id %>" />
    <input type="text" name="editedTodo" placeholder="Edit task" required />
    <button type="submit">Edit</button>
  </form>
  <hr />
  <% }) %> <% } %>
</div>
<%- include('partials/footer'); %>
